
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

.container {
  padding: 15% 30%;
}

.form-card {
  border: 1px black solid;
  padding: 5%;
  height: 350px;
}

.page {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.page h2 {
  /* align-self: flex-start; */

}

.page button {
  width: 100px;
}

#page-2 {
  display: none;
}

#page-3 {
  display: none;
}

.page-notator {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.page-counter {
  padding-right: 10px;
}

input[type="radio"] {
  margin: 0 5px;
}